/* FONDO */

body {

  background-image: url("../src/herramientas-gestion-tareas-cabecera.png");
background-size: cover;
  background-repeat:repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: 50rem;
}

